#pizza, #cars {
    display: grid;
    grid-template-columns: repeat(2, 256px);
    gap: 10px
}

#pizza > div, #cars > div {
    width: 256px;
    height: fit-content;
}

.plum {
    background: plum;
}

.red {
    background: red;
}